$light-peach: #ffc5c5;
$dark-indigo-50: rgba(18, 25, 95, 0.5);
$warm-grey: #9b9b9b;
$soft-blue: #776cee;
$dark-indigo: #12195f;
$grapefruit: #ff5f5f;
$greyish-brown: #4a4a4a;
$white: #ffffff;
$ight-periwinkle: #c4c0ff;
$dark-periwinkle: #7a74d2;
$purpley: #685dea;
$periwinkle: #8b81ff;
$perrywinkle: #a59fee;
$light-lavender: #c9c5ff;


