section.page {
  &.detail {
    .banner {
      background: url('/static/home/background.png') no-repeat;
      background-position: center;
      background-size: cover;
      .banner-detail-content {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      .banner-icons {
        display: inline-flex;
        align-self: center;
        position: absolute;
        height: 360px;
        width: 360px;
        transform: rotate(-45deg);
        top: -180px;
        .box {
          position: relative;
        }
        .one {
          width: 360px;
          height: 360px;
          border: solid 3.5px #ffffff;
        }
        .two {
          position: absolute;
          left: -200px;
          bottom: 0;
          width: 180px;
          height: 180px;
          border: solid 3.5px #ffc5c5;
        }
      }
      .detail-of-place {
        height: 205px;
        h2 {
          font-size: 63px;
          font-weight: 300;
          color: #ffffff;
          margin: 0;
        }
        .place-info {
          padding: 22px 0;
          opacity: 0.8;
          background-image: linear-gradient(95deg, #1e0db4, #e44747);
          font-size: 12px;
          font-weight: 500;
          color: #ffffff;
          >.container {
            position: relative;
          }
          .info-field {
            margin-bottom: 6px;
            color: #fff;
            address {
              font-style: normal;
            }
            a {
              color: inherit;
            }
          }
          .point {
            position: absolute;
            top: -55px;
            right: 0;
            width: 65px;
            height: 65px;
            text-align: center;
            line-height: 65px;
            font-size: 18px;
            &:after {
              content: "";
              width: 65px;
              height: 65px;
              left: 0;
              top: 0;
              background-color: #776cee;
              position: absolute;
              transform: rotate(-45deg);
              z-index: -1
            }
          }
        }
      }
    }
    .place-detail {
      margin-top: 40px;
      .card-col {
        padding: 10px;
      }
      .card {
        height: 290px;
        background: #ccc;
      }
      .tips {
        margin-top: -90px;
        ul {

          li {
            display: flex;
            padding: 20px 0;
            .avatar {
              flex-basis: 40px;
              height: 40px;
              background-color: #ccc;
              transform: rotate(-45deg);
              margin-left: 10px;
            }
            .comment {
              flex-grow: 2;
              padding-left: 10px;
              text-align: left;
              padding-left: 20px;
              span {
                font-size: 14px;
                font-weight: 500;
                color: #9b9b9b;
                margin-top: 10px;
                display: block;
              }
              p {
                font-size: 14px;
                color: #9b9b9b;
                margin: 18px 0 0 0;
              }
            }
          }
        }
      }
    }
  }
}
