section.page {
  //Banner
  &.home {
    .banner {
      background-color: #ccc;
      background: url('/static/home/background.png') no-repeat;
      background-position: center;
      background-size: cover;
      .banner-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        min-height: 600px;
        .brand-logo {
          width: 360px;
          height: 360px;
          position: absolute;
          border: 3.5px solid #fff;
          transform: rotate(45deg);
          top: -180px;
        }
        .slogan {
          max-width: 590px;
          width: 100%; // margin-top: 90px;
          h2 {
            font-size: 55px;
            font-weight: 200;
            text-align: center;
            color: #ffffff;
            margin: 13px 0 7px 0;
          }
          p {
            font-size: 16px;
            text-align: center;
            color: #ffffff;
            margin: 0;
          }
        }
        .search-area {
          margin-top: 65px;
          width: 100%;
          max-width: 550px;
          display: flex;
          margin-bottom: 100px;
          .form-group {
            margin-right: 10px;
            &:nth-child(1) {
              flex-basis: 285px;
            }
            &:nth-child(2) {
              flex-basis: 165px;
            }
          }
          input {
            height: 45px;
            padding: 0 20px;
            font-size: 14px;
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
            width: 100%;
            border: 0;
          }
          a {
            display: inline-block;
            background: #ff5f5f url('/static/common/icon-search-white.svg') no-repeat;
            background-position: top 1px center;
            width: 77px;
            height: 45px;
            border: 0;
            border-radius: 4px;
            box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
          }
        }
      }
      &.show-detail {
        align-items: center;
        justify-content: center;
        min-height: 150px;
        transition: all 1s;
        .banner-content {
          transition: all 1s;
          min-height: 150px!important;
          flex-direction: row;
          align-items: center;
          .slogan {
            display: none;
          }
          .brand-logo {
            height: 124px;
            margin-top: -20px;
            background: url('/static/common/logo-2.svg') no-repeat;
            transition: all 1s;
          }
          .search-area {
            margin-bottom: 0;
            margin-top: 0;
          }
        }
      }
    } //Search Result
    .search-result {
      margin-top: 40px;
      .card-col {
        padding: 10px;
        margin: 0;
        a {
          display: block;
          background: red;
          margin-top: auto;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .result-card {
        width: 100%;
        height: 300px;
        background: #ccc;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        overflow: hidden;
        &:after {
          content: "";
          position: absolute;
          bottom: -32px;
          right: 14px;
          width: 65px;
          height: 65px;
          transform: rotate(-45deg);
          background-color: #776cee;
        }
        .desc {
          padding: 18px;
          h3 {
            font-size: 25px;
            color: #ffffff;
            display: block;
            position: relative;
            padding-bottom: 5px;
            font-weight: normal;
            margin: 0 0 13px 0;
            &:after {
              content: '';
              width: 50px;
              height: 2px;
              background-color: #c4c0ff;
              position: absolute;
              bottom: 0px;
              left: 0;
            }
          }
          span {
            color: #fff;
            margin-right: 10px;
          }
          .point {
            position: absolute;
            right: 34px;
            bottom: 4px;
            z-index: 2;
            color: #fff;
          }
        }
      }
    }
  }
}
