section.page {
  .loading {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .brand-logo {
    width: 360px;
    height: 360px;
    position: absolute;
    border: 3.5px solid #fff;
    transform: rotate(45deg);
    top: -180px;
    display: block;
    &:after {
      content: '';
      width: 80px;
      height: 80px;
      position: absolute;
      bottom: 30px;
      right: 30px;
      transform: rotate(-45deg);
      background-image: url('/static/common/logo-pure.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80px;
    }
  }
  .recent-search,
  .tips {
    background-color: #fff;
    box-shadow: 0 0 34px 0 rgba(255, 95, 95, 0.32);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    &:after,
    &:before {
      content: "";
      display: table;
      clear: both;
    }
    span.title {
      display: block;
      font-size: 16px;
      font-weight: 500;
      color: #4a4a4a;
      padding: 40px 0;
      position: relative;
      &:after {
        content: "";
        width: 70px;
        height: 2px;
        background-color: #c4c0ff;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    ul {
      list-style: none;
      width: 100%;
      padding: 0 15px;
      margin: 30px 0 0 0;
      li {
        text-align: center;
        border-bottom: solid 1px #e4e4e4;
        a {
          display: block;
          padding: 15px 0;
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
          color: #9b9b9b;
        }
      }
    }
    @media (max-width: 992px) {
      span.title {
        padding: 20px;
        font-size: 13px;
        text-align: center;
      }
    }
  }
}
