section.page {
  .loading {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  //
  .badges {
    color: $white;
    margin-right: 30px;
    padding-left: 20px;
    display: inline-block;
    position: relative;
    &:after {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      background-repeat: no-repeat;
      background-size: 14px;
    }
    &.rating {
      &:after {
        background-image: url('/static/common/icon-user.svg');
      }
    }
    &.address {
      &:after {
        background-image: url('/static/common/icon-address.svg');
      }
    }
    &.phone {
      &:after {
        background-image: url('/static/common/icon-phone.svg');
      }
    }
    &.price {
      &:after {
        background-image: url('/static/common/icon-price.svg');
        left: -20px;
      }
      width: 60px;
      height: 3px;
      background: #111;
      margin-top: 9px;
      padding-left: 0;
      span {
        display: block;
        width: 25%;
        height: 3px; // background-color: red;
        float: left;
        &:nth-child(1) {
          background-color: $light-lavender;
        }
        &:nth-child(2) {
          background-color: $perrywinkle;
        }
        &:nth-child(3) {
          background-color: $periwinkle;
        }
        &:nth-child(4) {
          background-color: $purpley;
        }
      }
    }
  }
  //
  .brand-logo {
    width: 360px;
    height: 360px;
    position: absolute;
    border: 3.5px solid $white;
    transform: rotate(45deg);
    top: -180px;
    display: block;
    &:after {
      content: '';
      width: 80px;
      height: 80px;
      position: absolute;
      bottom: 30px;
      right: 30px;
      transform: rotate(-45deg);
      background-image: url('/static/common/logo-pure.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80px;
    }
  }
  .recent-search,
  .tips {
    background-color: $white;
    box-shadow: 0 0 34px 0 rgba(255, 95, 95, 0.32);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    &:after,
    &:before {
      content: "";
      display: table;
      clear: both;
    }
    span.title {
      display: block;
      font-size: 16px;
      font-weight: 500;
      color: $greyish-brown;
      padding: 40px 0;
      position: relative;
      &:after {
        content: "";
        width: 70px;
        height: 2px;
        background-color: $ight-periwinkle;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    ul {
      list-style: none;
      width: 100%;
      padding: 0 15px;
      margin: 30px 0 0 0;
      li {
        text-align: center;
        border-bottom: solid 1px #e4e4e4;
        a {
          display: block;
          padding: 15px 0;
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
          color: $warm-grey;
        }
      }
    }
    @media (max-width: 992px) {
      span.title {
        padding: 20px;
        font-size: 13px;
        text-align: center;
      }
    }
  }
}
