@media (max-width: 576px) {
  section.page {
    &.detail {
      .banner {
        .banner-detail-content {
          height: 400px;
        }
        .banner-icons {
          height: 160px;
          width: 160px;
          top: -100px;
          .one {
            width: 180px;
            height: 180px;
            transform: rotate(90deg);
            &:after {
              bottom: 10px;
              right: 10px;
              background-size: 60px;
            }
          }
          .two {
            left: -120px;
            bottom: -10px;
            width: 100px;
            height: 100px;
          }
        }
        .detail-of-place {
          height: auto;
          h2 {
            font-size: 30px;
          }
          .place-info {
            .info-field {
              address {
                padding-right: 100px;
              }
            }
          }
        }
      }
      .place-detail {
        .tips {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  section.page {
    &.detail {
      .banner {
        .detail-of-place {
          .place-info {
            .point {
              right: 30px;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}
